# Assets
assets/

# Python Cache
__pycache__/
opgg-scraper/__pycache__/

# Virtual Environment
.venv/

# VSCode Settings
.vscode/

# PyInstaller Files
opgg-scraper/dist/
opgg-scraper/build/
opgg-scraper/pyside6_gui.spec
opgg-scraper/favicon.ico